.hive_card{
    border-radius: 30px;
    border: 1px solid black;
    background-color: #f7c339;
}

.hive_selector{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #FFF0B3;
}

body{
    background: #FFE087 !important;
}

.form-check-input:checked{
    background-color: #ff7000 !important;
    border-color: black !important;
}
