.hive_card{
    border-radius: 30px !important;
    border: 1px solid black !important;
    background-color: #f7c339 !important;
}

.hive_selector{
    border-radius: 10px !important;
    border: 1px solid black !important;
    background-color: #FFF0B3 !important;
}
.custom-background{
    background: #FFF0B3 !important;
}

body{
    background: #FFE087 !important;
}

.form-check-input:checked{
    background-color: #ff7000 !important;
    border-color: black !important;
}