.custom-page{
    width: 90% !important;
    height: 100% !important;
}
.custom-calendar{
    height: 75vh !important;
    padding-bottom: 20px !important;
    background-color: #fff0b3 !important;
}
.custom-log{
    height: 45vh !important;
}

#calendar a {
    color: black !important;
    text-decoration: none;
}

.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: normal;
}

@media only screen and (max-width: 768px){
    .custom-calendar{
        height: 70vh !important;
    }
}