* {
    --fc-border-color: transparent !important;
}

.modal{
    overflow: hidden !important;
}

.custom-page{
    width: 95% !important;
    height: 100% !important;
}
.custom-calendar{
    height: auto !important;
    backdrop-filter: blur(8px) !important;
    overflow:auto;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom:10px !important;

}

.custom-background{
    height: 70vh;
    overflow: auto !important;
}

.custom-log{
    height: 45vh !important;
}

#calendar a {
    color: black !important;
    text-decoration: none;
}

.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: normal;
}

td {
    border: 2px solid black !important;
    background-color: #fff0b3bb;
}

th {
    border-top: 2px solid black !important;
    border-left: 2px solid black !important;
    border-right: 2px solid black !important;
    font-size: 20px;
}

h4{
    font-size: 20px !important;
}

li{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 35px !important;
}

