.custom-page{
    width: 90% !important;
    height: 100% !important;
}
.custom-calendar{
    height: 60vh !important;
    padding-bottom: 20px !important;
    background-color: #fff0b3 !important;
}
.custom-log{
    height: 45vh !important;
}

#calendar a {
    color: black !important;
    text-decoration: none;
}

@media only screen and (max-width: 768px){
    .custom-calendar{
        height: 60vh !important;
    }
}