.custom-border{
    overflow-y: auto;
}
    ::-webkit-scrollbar{
        display: none;
    }

.custom-base{
    height: 90vh !important;
    width: 90% !important;
}
.custom-stat{
    height: 30vh !important;
}
.custom-graph{
    height: 50vh !important;
}
.custom-border{
    border: 2px solid black !important;
    border-radius: 30px !important;
    backdrop-filter: blur(6px) !important;
}
.custom-temper{
    font-size: 4vw !important;
}
.custom-button{
    background-color: #FFF0B3;
    color: black;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
}

@media only screen and (max-width: 576px){
    .custom-stat{
        height: 35vh !important;
    }

    h3{
        font-size: 5vw !important;
    }
    .custom-temper{
        font-size: 5vw !important;
    }
}