
::-webkit-scrollbar{
    display: none;
}

.custom-base{
    height: 90vh !important;
    width:70% !important;
}
.custom-graph{
    height: 40vh !important;
    width: 80% !important;
}
.custom-border{
    border: 2px solid black !important;
    border-radius: 30px;
    backdrop-filter: blur(7px) !important;
    overflow-y:hidden !important;
}
.custom-button{
    background-color: #FFF0B3;
    color: black;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media only screen and (max-width: 1280px){
    .custom-base{
        width: 90% !important;
    }
}