<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/hive/creation-hive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div th:insert="~{fragments/header :: navbar}"></div>

<section class="gradient-custom" style="height: 94vh">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">

            <div class="col-12 col-lg-9 col-xl-8">
                <div class="card-body">
                    <div class="card-body p-4 hive_card">
                        <h1 class="label text-center" style="font-size: 3rem;"> Hive Creation </h1>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9 col-xl-8">
                <div class="card-body">
                    <div class="card-body p-4 p-md-5 hive_card">

                        <form th:action="@{/create-hive}" method="get">

                            <div class="input_box">
                                <p th:text="${error}" class="custom-error-model fw-bolder text-center" style="font-size: 20px;"></p>
                            </div>

                            <!--                            Nome dell'arnia-->
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="form-outline">
                                        <h5 class="form-label" th:for="hiveName">Hive Name:</h5>
                                        <input type="text" th:id="hiveName" name="nickname" class="form-control form-control-lg"
                                               style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;" required>
                                    </div>
                                </div>
                            </div>

                            <!--                            Tipo dell'arnia-->
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <h5 class="form-label select-label">Hive Type:</h5>
                                </div>
                            </div>

                            <!--                            Opzioni del tipo d'arnia-->
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <select class="select form-control-lg hive_selector"
                                            name="hiveType" required>
                                        <option value="Langstroth">Langstroth</option>
                                        <option value="Warre">Warre</option>
                                        <option value="Top-Bar">Top-Bar</option>
                                        <option value="Horizontal">Horizontal</option>
                                        <option value="Vertical">Vertical</option>
                                        <option value="Bee Skep">Bee Skep</option>
                                        <option value="WBC">WBC</option>
                                        <option value="Dadant">Dadant</option>
                                    </select>
                                </div>
                            </div>

                            <!--                            Checklist con le specie delle api-->
                            <div class="row">
                                <div class="col-md-6 col-sm-8 col-8 mb-4" style="font-weight: bold">
                                    <h5 class="mb-2 pb-1">Bee Species: </h5>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="beeSpecies" th:id="Apismellifera"
                                               value="Apis millifera" style="border: 1px solid black;background-color: #FFF0B3;" checked required>
                                        <label class="form-check-label" th:for="Apismellifera">Apis mellifera (Api miele)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="beeSpecies" th:id="Apiscerana"
                                               value="Apis cerana" style="border: 1px solid black;background-color: #FFF0B3;" required>
                                        <label class="form-check-label" th:for="Apiscerana">Apis cerana (Api asiatiche)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="beeSpecies" th:id="Apisdorsata"
                                               value="Apis dorsata" style="border: 1px solid black;background-color: #FFF0B3;" required>
                                        <label class="form-check-label" th:for="Apisdorsata">Apis dorsata (Api giganti)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="beeSpecies" th:id="Apisfiorea"
                                               value="Apis florea" style="border: 1px solid black;background-color: #FFF0B3;" required>
                                        <label class="form-check-label" th:for="Apisfiorea">Apis florea (Api nane)</label>
                                    </div>
                                </div>
                            </div>

                            <!--                            Pulsanti di invio e cancellazione-->
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-end" style="gap:10px;">
                                    <input class="btn btn-lg" type="submit" value="Submit" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
</body>
</html>