<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/hive/operations-hive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/hive/hive-template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/hive-template.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/index.global.min.js}" rel="text/javascript"></script>
    <title>Title</title>
</head>
<body>

<div th:insert="~{fragments/hives-header :: hive_navbar}"></div>
<div th:insert="~{fragments/hives-header :: offcanvas}"></div>
<div th:insert="~{fragments/hives-header :: modify_hive}"></div>
<div th:insert="~{fragments/hives-header :: remove_hive}"></div>

<section>
    <div class="container-fluid text-center my-2 custom-page">

        <div class="row mb-3 justify-content-center">
            <div class="custom-calendar col d-flex justify-content-center" id="calendar">
                <!--                    Calendario-->
            </div>
        </div>
        <div class="row mb-3 justify-content-center align-items-center">

            <div class="col d-flex flex-column justify-content-between align-items-center">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#add_operation"> <h2>Add Operation</h2> </button>  <!--add_operation-->
            </div>
            <div class="col">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#log_operation"> <h2>Log Operation</h2> </button>
            </div>

        </div>


    </div>
</section>

<!--Modal per l'aggiunta di un operation-->
<div class="modal fade" id="add_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="add_operationLabel">Add Operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card-body">
                            <div class="card-body my-5 p-4 p-md-5 hive_card">
                                <form th:action="@{/add_operation-form}" method="get">
                                    <input type="hidden" name="hiveId" th:value="${hive.getId()}">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="operationName">Operation Name:</h5>
                                                <input type="text" id="operationName" name="operationName" class="form-control form-control-lg" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="operationDate">Operation Date:</h5>
                                                <input class="w-100" type="datetime-local" step="1" id="operationDate" name="operationDate" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h5 class="form-label" for="operationType">Operation Type:</h5>
                                            <select class="select form-control-lg hive_selector" name="operationType">
                                                <option value="1" disabled selected>Choose option</option>
                                                <option value="Medical Inspection">Medical Inspection</option>
                                                <option value="Medical Treatment">Medical Treatment</option>
                                                <option value="Check Population">Check Population</option>
                                                <option value="Extraction">Extraction</option>
                                                <option value="Vet Visit">Vet Visit</option>
                                                <option value="Feeding">Feeding</option>
                                                <option value="Transfer">Transfer</option>
                                                <option value="Maintenance">Maintenance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <h5 for="noteOperation">Note:</h5>
                                            <textarea class="form-control" id="noteOperation" name="noteOperation" rows="4"style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-end" style="gap:10px;">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input class="btn btn-lg" type="submit" value="Submit" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Model per la gestione del log-->
<div class="modal fade" id="log_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="log_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="log_operationLabel">Add Operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p th:text="${error}"></p>
            <div class="modal-body custom-background">
                <!--                Aggiungere il log-->
            </div>

            <div class="modal-footer bg-warning">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>

        </div>
    </div>
</div>

<!--Model per la modifica dell'operazione-->
<div class="modal fade" id="modify_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modify_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modify_operationLabel">Add Operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card-body">
                            <div class="card-body my-5 p-4 p-md-5 hive_card">
                                <form th:action="@{/modify-operation-form}" method="get">
                                    <input type="hidden" name="hiveId" th:value="${hive.getId()}">
                                    <!-- servono anche l'operationId e lo status dell'operation passati come hidden-->
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="modifyName">Operation Name:</h5>
                                                <input type="password" id="modifyName" name="operationName" class="form-control form-control-lg" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="modifyDate">Operation Date:</h5>
                                                <input class="w-100" type="date" id="modifyDate" name="operationDate" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h5 class="form-label" for="modifyType">Operation Type:</h5>
                                            <select class="select form-control-lg hive_selector" name="operationType">
                                                <option value="1" disabled selected>Choose option</option>
                                                <option value="Medical Inspection">Medical Inspection</option>
                                                <option value="Medical Treatment">Medical Treatment</option>
                                                <option value="Check Population">Check Population</option>
                                                <option value="Extraction">Extraction</option>
                                                <option value="Vet Visit">Vet Visit</option>
                                                <option value="Feeding">Feeding</option>
                                                <option value="Transfer">Transfer</option>
                                                <option value="Maintenance">Maintenance</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <h5 for="modifyNote">Note:</h5>
                                            <textarea class="form-control" id="modifyNote" name="noteOperation" rows="4"style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"> </textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer bg-warning">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>

        </div>
    </div>
</div>

<!--Modal per le specifiche dell'operazione-->
<div class="modal fade" id="spec_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="spec_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="spec_operationLabel">Add Operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card-body">
                            <div class="card-body my-5 p-4 p-md-5 hive_card">
                                <form th:action="@{/visualize-operation-form}" method="get">

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="specName">Operation Name:</h5>
                                                <input type="password" id="specName" class="form-control form-control-lg" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="spechDate">Operation Date:</h5>
                                                <input class="w-100"  type="date" id="spechDate" name="startDate" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h5 class="form-label" for="specType">Operation Type:</h5>
                                            <select class="select form-control-lg hive_selector">
                                                <option value="1" disabled selected>Choose option</option>
                                                <option value="2">Medical Inspection</option>
                                                <option value="3">Medical Treatment</option>
                                                <option value="2">Check Population</option>
                                                <option value="3">Extraction</option>
                                                <option value="2">Vet Visit</option>
                                                <option value="3">Feeding</option>
                                                <option value="2">Transfer</option>
                                                <option value="3">Maintenance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <h5 for="specNote">Note:</h5>
                                            <textarea class="form-control" id="specnNote" rows="4"style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"> </textarea>
                                        </div>
                                    </div>

                                    <!--                                Tasto per il check di una operazione conclusa?-->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer bg-warning">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/visualize-operation-form}" method="get">
                    <input type="hidden" name="hiveId" id="hiveId" th:value="${hive.getId()}">
                    <button type="button" class="btn btn-primary">Confirm</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!--Modal per la rimozione dell'operazione-->
<div class="modal fade" id="remove_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="remove_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="remove_operationLabel">Remove Hive</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-9 d-flex align-items-center">
                            <h4>
                                You are about to early terminate the scheduled operation. <br>
                                Are you sure you want to continue?
                            </h4>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <img class="img-fluid" th:src="@{/assets/sad_bee.png}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer bg-warning">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/cancel-operation-form}" method="get">
                    <input type="hidden" name="hiveId" th:value="${hive.getId()}">
                    <button type="button" class="btn btn-primary">Remove</button>
                </form>
            </div>

        </div>
    </div>
</div>


<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "get_hive_operation_history",
            data: {"hiveId": 1}, //TODO change hiveId
            success: function(resp) {
                let result = JSON.parse(resp);
                let calendar = new FullCalendar.Calendar($("#calendar")[0], {
                    events: result,
                    initialView: 'dayGridMonth',
                    eventTimeFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                    },
                    height: "auto",
                    eventColor: "#805711"
                });

                calendar.render();
            }
        })

    })

</script>

</body>
</html>