<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/hive/operations-hive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/hive/hive-template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/hive-template.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/index.global.min.js}" rel="text/javascript"></script>
    <title>Title</title>
</head>
<body>

<div th:insert="~{fragments/hives-header :: hive_navbar}"></div>
<div th:insert="~{fragments/hives-header :: offcanvas}"></div>
<div th:insert="~{fragments/hives-header :: modify_hive}"></div>
<div th:insert="~{fragments/hives-header :: remove_hive}"></div>
<div th:insert="~{fragments/hives-header :: anomaly}"></div>

<section>
    <div class="input_box" style="text-align: center" >
        <p th:text="${error}" class="custom-error-model fw-bolder" style="font-size: 20px; text-shadow: 1px 2px black"></p>
    </div>
    <div class="container-fluid text-center my-2 custom-page">

        <div class="row mb-3 justify-content-center">
            <div class="custom-calendar col d-flex justify-content-center" id="calendar">
                <!--                    Calendario-->
            </div>
        </div>
        <div class="row mb-3 justify-content-center align-items-center">

            <div class="col d-flex flex-column justify-content-between align-items-center">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#add_operation"> <h2>Add Operation</h2> </button>  <!--add_operation-->
            </div>
            <div class="col">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#log_operation"> <h2>Operation Log</h2> </button>
            </div>
        </div>

    </div>
</section>

<!--Modal per l'aggiunta di un operation-->
<div class="modal fade" id="add_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="add_operationLabel">Add Operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card-body">
                            <div class="card-body p-md-5 hive_card">
                                <form th:action="@{/add_operation-form}" method="get">
                                    <input type="hidden" name="hiveId" th:value="${hive.getId()}">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="operationName">Operation Name:</h5>
                                                <input type="text" id="operationName" name="operationName" class="form-control form-control-lg" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="operationDate">Operation Date:</h5>
                                                <input class="w-100 mt-2" type="date" id="operationDate" name="operationDate" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                                <input class="w-100 mt-2" type="time" id="operationHour" name="operationHour" step="60" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h5 class="form-label" for="operationType">Operation Type:</h5>
                                            <select class="select form-control-lg hive_selector" name="operationType">
                                                <option value="1" disabled selected>Choose option</option>
                                                <option value="Medical Inspection">Medical Inspection</option>
                                                <option value="Medical Treatment">Medical Treatment</option>
                                                <option value="Check Population">Check Population</option>
                                                <option value="Extraction">Extraction</option>
                                                <option value="Vet Visit">Vet Visit</option>
                                                <option value="Feeding">Feeding</option>
                                                <option value="Transfer">Transfer</option>
                                                <option value="Maintenance">Maintenance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <h5 for="noteOperation">Note:</h5>
                                            <textarea class="form-control" id="noteOperation" name="noteOperation" rows="4"style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pt-3 d-flex justify-content-end" style="gap:10px;">
                                            <button type="button" class="btn" data-bs-dismiss="modal"style="border: 1px solid black;background-color: #FFF0B3;">Close</button>
                                            <input class="btn btn-lg" type="submit" value="Submit" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Model per la gestione del log-->
<div class="modal fade" id="log_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="log_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="log_operationLabel">Log Operation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom-background">
                <div class="container">
                    <div class="row">
                        <h3> Imminent Operations</h3>
                    </div>
                    <ul>
                        <div th:each="op : ${toComplete}">
                            <div class="row pb-2 align-items-center">
                                <div class="col-md-8 col-sm-6 col-6 ">
                                    <li th:text="'[' + ${#strings.replace(op.getOperationDate(),'T',' ')} + '] - ' + ${op.getOperationName()}"></li>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6  text-end">
                                    <button th:value="${op.getId()}" type="button" class="btn btn-warning showInfo" style="border: 1px solid black;" data-bs-toggle="modal" data-bs-target="#modify_operation"> <h4>Show Info</h4> </button>
                                </div>
                            </div>
                        </div>
                    </ul>


                    <div class="row">
                        <h3> Past Operations</h3>
                    </div>
                    <ul>
                        <div th:each="op : ${completed}">
                            <div class="row pb-2 align-items-center">
                                <div class="col-md-8 col-sm-6 col-6 ">
                                    <li th:text="'[' + ${#strings.replace(op.getOperationDate(),'T',' ')} + '] - ' + ${op.getOperationName()}"></li>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6  text-end">
                                    <button th:value="${op.getId()}" type="button" class="btn btn-warning showInfo" style="border: 1px solid black;" data-bs-toggle="modal" data-bs-target="#modify_operation"> <h4>Show Info</h4> </button>
                                </div>
                            </div>
                        </div>
                    </ul>

                </div>

            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="modify_operation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modify_operationLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modify_operationLabel">Operation Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card-body">
                            <div class="card-body p-4 p-md-5 hive_card">
                                <form th:action="@{/modify-operation-form}" method="get">
                                    <input type="hidden" id="modifyOperationId" name="operationIdModify">
                                    <input type="hidden" id="modifyStatus" name="operationStatus">
                                    <input type="hidden" id="hiveId" name="hiveIdModify" th:value="${hive.getId()}">

                                    <div class="row">
                                        <div class="col">
                                            <h5> Status: <span id="status"> </span> </h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="modifyName">Operation Name:</h5>
                                                <input type="text" id="modifyName" name="operationName" class="form-control form-control-lg" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" for="modifyDate">Operation Date:</h5>
                                                <input class="w-100 mt-2" type="date" value="2002-04-04" id="modifyDate" name="operationDate" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                                <input class="w-100 mt-2" type="time" value="10:00" id="modifyHour" name="operationHour" step="60" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3; padding-left: 10px;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h5 class="form-label" for="modifyType">Operation Type:</h5>
                                            <select class="select form-control-lg hive_selector" name="operationType" id="modifyType">
                                                <option value="1" disabled selected>Choose option</option>
                                                <option value="Medical Inspection">Medical Inspection</option>
                                                <option value="Medical Treatment">Medical Treatment</option>
                                                <option value="Check Population">Check Population</option>
                                                <option value="Extraction">Extraction</option>
                                                <option value="Vet Visit">Vet Visit</option>
                                                <option value="Feeding">Feeding</option>
                                                <option value="Transfer">Transfer</option>
                                                <option value="Maintenance">Maintenance</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <h5 for="modifyNote">Note:</h5>
                                            <textarea class="form-control" id="modifyNote" name="operationNotes" rows="4"style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"> </textarea>
                                        </div>
                                    </div>

                                    <div class="row pt-4 d-flex justify-content-evenly text-center">
                                        <div class="col-sm-3 p-2">
                                            <input class="btn btn-lg" type="submit" value="Save" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                        </div>

                                        <div class="col-sm-3 p-2">
                                            <form th:action="@{/cancel-operation-form}" method="get">
                                                <input type="hidden" id="cancelOperationId" name="operationIdCancel">
                                                <input type="hidden" id="cancelOpHiveId" name="hiveIdCancel" th:value="${hive.getId()}">
                                                <input class="btn btn-lg" type="submit" value="Cancel" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                            </form>
                                        </div>

                                        <div class="col-sm-5 p-2">
                                            <form th:action="@{/change-operation-status-form}" method="get">
                                                <input type="hidden" id="changeStatusOperationId" name="operationIdStatus">
                                                <input type="hidden" id="changeStatusOpHiveId" name="hiveIdStatus" th:value="${hive.getId()}">
                                                <input class="btn btn-lg" type="submit" value="Change status" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                            </form>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "get_hive_operation_history",
            data: {"hiveId": $("#hiveId").val()},
            success: function(resp) {
                let result = JSON.parse(resp);
                let calendar = new FullCalendar.Calendar($("#calendar")[0], {
                    events: result,
                    initialView: 'dayGridMonth',
                    eventTimeFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                    },
                    height: "auto",
                    eventColor: "#805711",
                    defaultTimedEventDuration: '00:01:00'
                });

                calendar.render();
            }
        })


        $(".showInfo").click(function() {

            $.ajax({
                method: "GET",
                url: "get_operation_information",
                data: {"operationId": $(this).val()},
                success: function (resp) {

                    let result = JSON.parse(resp);

                    $("#status").text(result["status"]);
                    $("#modifyStatus").val(result["status"]);
                    $("#modifyName").val(result["name"]);
                    $("#modifyDate").val(result["date"]);
                    $("#modifyHour").val(result["hour"]);
                    $("#modifyType").val(result["type"]);
                    $("#modifyNote").text(result["notes"]);
                    $("#modifyOperationId").val(result["id"]);

                    $("#cancelOperationId").val(result["id"]);
                    $("#cancelOpHiveId").val(result["hiveId"]);

                    $("#changeStatusOperationId").val(result["id"]);
                    $("#changeStatusOpHiveId").val(result["hiveId"]);

                }
            })


        })

    })

</script>

</body>
</html>