<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/hive/parameters-hive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/hive/hive-template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/hive-template.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/anychart-bundle.min.js}" type="text/javascript"></script>
    <title>Title</title>
</head>
<body>
<input type="hidden" id="hiveId" th:value="${hive.getId()}">
<input type="hidden" id="hiveNickname" th:value="${hive.getNickname()}">
<div th:insert="~{fragments/hives-header :: hive_navbar}"></div>
<div th:insert="~{fragments/hives-header :: offcanvas}"></div>
<div th:insert="~{fragments/hives-header :: modify_hive}"></div>
<div th:insert="~{fragments/hives-header :: remove_hive}"></div>
<div th:insert="~{fragments/hives-header :: anomaly}"></div>

<section class="gradient-custom h-100" >
    <div class="container-fluid py-4 custom-base" >
        <div class="container-fluid py-3 d-flex flex-column custom-border h-100">

            <div class="row mx-3 custom-stat justify-content-evenly">

                <!--                Prima colonna con regina e temperatura arnia-->
                <div class="col-sm-5 my-4 custom-coloumn d-flex flex-column justify-content-center">
                    <div class="row align-items-center text-center">
                        <div class="col-md-7 col-12">
                            <h2>Queen Presence:</h2>
                        </div>
                        <div class="col-md-5 col">
                            <h4 th:if="${hiveParameters.isQueenPresent() == true}" style="color: limegreen; font-weight: bold">Present</h4>
                            <h4 th:if="${hiveParameters.isQueenPresent() == false}" style="color: red; font-weight: bold">Not Present</h4>
                        </div>
                    </div>
                    <div class="row align-items-center text-center">
                        <div class="col-md-8 ">
                            <h2>Hive Temperature:</h2>
                        </div>
                        <div class="col-md-4">
                            <h4 th:text="${hiveParameters.getTemperature()} + '°C'" style="font-weight: bold"></h4>
                        </div>
                    </div>
                    <div class="row align-items-center text-center">
                        <div class="col-md-8">
                            <h2>Ambient Temperature: </h2>
                        </div>
                        <div class="col-md-4 ">
                            <h4 th:text="${hiveParameters.getAmbientTemperature() + '°C'}" style="font-weight: bold"></h4> <!--Aggiungere di seguito, nello stesso div la temperatura dell'ambiente-->
                        </div>
                    </div>
                </div>

                <!--                Seconda colonna con peso e umidità-->
                <div class="col-sm-5 my-4 custom-coloumn d-flex flex-column justify-content-center">
                    <div class="row align-items-center text-center">
                        <div class="col-md-8 col-12">
                            <h2>Current Weight:</h2>
                        </div>
                        <div class="col-md-4 col">
                            <h4 th:text="${hiveParameters.getWeight()} + 'kg'" style="font-weight: bold"></h4>
                        </div>
                    </div>
                    <div class="row align-items-center text-center">
                        <div class="col-md-8 ">
                            <h2>Hive Humidity:</h2>
                        </div>
                        <div class="col-md-4">
                            <h4 th:text="${hiveParameters.getHumidity()} + '%'" style="font-weight: bold"></h4>
                        </div>
                    </div>
                    <div class="row align-items-center text-center">
                        <div class="col-md-8">
                            <h2>Ambient Humidity: </h2>
                        </div>
                        <div class="col-md-4">
                            <h4 th:text="${hiveParameters.getAmbientHumidity()} + '%'" style="font-weight: bold"></h4>
                        </div>
                    </div>
                </div>

                <!--                Pulsante per la stampa delle info-->
                <div class="row align-items-center">
                    <div class="col my-2 d-flex justify-content-center">
                        <a class="custom-button" th:href="@{/create_report(hiveId=${hive.getId()}, hiveNickname=${hive.getNickname()})}" id="generateReport"> Generate Report </a>
                    </div>
                </div>

                <!--            Grafico-->
                <div class="row p-0 custom-border">
                    <div class="col-sm-12 p-0 custom-graph" id="hive-graph">

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>

<script>
    $(document).ready(function () {
        let chart;
        let result;
        $.ajax({
            type: "GET",
            url: "produce_graph",
            data: {"hiveId": $("#hiveId").val()},
            success: function (resp) {

                result = JSON.parse(resp)

                let dataSet = anychart.data.set(result);

                let weightData = dataSet.mapAs({x: 0, value: 1});
                let humidityData = dataSet.mapAs({x: 0, value: 2});
                let temperatureData = dataSet.mapAs({x: 0, value: 3});
                let queenData = dataSet.mapAs({x: 0, value: 4});

                chart = anychart.line();
                chart.animation(true);
                chart.title("Measurements of " + $("#hiveNickname").val());
                chart.crosshair().enabled(true).yLabel(false).yStroke(null);

                let firstSeries = chart.line(weightData);
                firstSeries
                    .name("Weight")
                    .stroke("3 #f49595")
                    .tooltip()
                    .format("Weight: {%value}");

                let secondSeries = chart.line(humidityData);
                secondSeries
                    .name("Humidity")
                    .stroke("3 #f9eb97")
                    .tooltip()
                    .format("Humidity: {%value}");

                let thirdSeries = chart.line(temperatureData);
                thirdSeries
                    .name("Temperature")
                    .stroke("3 #a8d9f6")
                    .tooltip()
                    .format("Temperature: {%value}");

                let fourthSeries = chart.line(queenData);
                fourthSeries
                    .name("Queen Presence")
                    .stroke("3 #e2bbfd")
                    .tooltip()
                    .format(function() {
                        if (this.value === -20)
                            return "Queen: Absent"
                        else
                            return "Queen: Present"
                    });

                chart.legend().enabled(true);

                // Qui va inserito l'id del div in cui vogliamo far apparire il grafico
                chart.container('hive-graph');

                chart.draw();
            }
        })

        $("#generateReport").click(function() {
            let filename = $("#hiveNickname").val() + "_Sensor_Measurements_" + result[0][0] + "_" + result[result.length -1][0]
            chart.saveAsPdf({"filename": filename});
        })
    })
</script>

</body>
</html>