<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/hive/state-hive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/hive/hive-template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/hive-template.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

<div th:insert="~{fragments/hives-header :: hive_navbar}"></div>
<div th:insert="~{fragments/hives-header :: offcanvas}"></div>
<div th:insert="~{fragments/hives-header :: modify_hive}"></div>
<div th:insert="~{fragments/hives-header :: remove_hive}"></div>
<div th:insert="~{fragments/hives-header :: anomaly}"></div>

<div class="gradient-custom h-100">
    <div class="container-fluid py-4 custom-base" >
        <div class="row py-3 d-flex justify-content-center custom-border">

            <div class="row">
                <div class="col-md-3 my-2">
                    <h5>Hive Name:</h5>
                </div>
                <div class="col my-2">
                    <div class="col">
                        <span th:text="${hive.getNickname()}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  my-2">
                    <h5>Hive Type:</h5>
                </div>
                <div class="col my-2">
                    <div class="col">
                        <span th:text="${hive.getHiveType()}"></span>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-3  my-2">
                    <h5>Bee Species:</h5>
                </div>
                <div class="col my-2">
                    <div class="col">
                        <span th:text="${hive.getBeeSpecies()}"></span>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-3  my-2">
                    <h5>Hive State:</h5>
                </div>
                <div class="col my-2">
                    <div class="col">
                        <span th:text="${hive.getHiveHealth()}"></span>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-3  my-2">
                    <h5>Sensor State:</h5>
                </div>
                <div class="col my-2">
                    <div style="color:green" class="col">
                        Online
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-3  my-2">
                    <h5>Hive Creation Data:</h5>
                </div>
                <div class="col my-2">
                    <div class="col">
                        <span th:text="${#temporals.format(hive.getCreationDate(),'dd/MM/yyy')}"></span>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-3  my-2">
                    <h5>Last measurement:</h5>
                </div>
                <div class="col my-2">
                    <div class="col">
                        <span th:text="${#temporals.format(lastMeasure,'dd/MM/yyy')}"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>

<script>

    //TODO script jQuery che quando premi uno dei bottoni cancella la riga dell'anomalia e metodi jQuery per cancellazione e risoluzione


</script>

</body>
</html>