<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../css/fragments/header.css" rel="stylesheet" type="text/css">
    <script src="../../js/jquery.js" type="text/javascript"></script>
    <title>Title</title>
</head>
<body>

        <header th:fragment="navbar">
            <link th:href="@{/css/fragments/header.css}" rel="stylesheet" type="text/css">
            <div class="container">
                <nav>
                    <ul>
                        <li class="icon"> <img src="../../assets/home_icon.png" alt="Home"> </li>
                        <li> Log-in </li>
                        <li> About Us </li>
                        <li> Contact Us </li>
                        <li> Info </li>
                        <li class="icon2"> <img src="../../assets/menu_icon.png" alt="Home"> </li>
                    </ul>
                </nav>
            </div>
        </header>

</body>
</html>