<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/hive/hive-template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/hive-template.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg"  style="background-color: #FFF0B3; color: black; border-bottom: 2px solid black ;" th:fragment="hive_navbar">
    <div class="container-fluid">
        <button class="btn d-block d-lg-none d-xl-none" type="button"  data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            Hive menu
        </button>
        <a class="navbar-brand" th:href="@{/}"> BeehAIve </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!--                        Add if-->
                    <div th:unless="${session.beekeeper != null}">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}"> Log-in </a>
                    </div>
                    <div th:if="${session.beekeeper != null}">
                        <a th:text="${session.beekeeper['companyName']}" class="nav-link active" aria-current="page" th:href="@{/user-page}"> <span th:text="${session.beekeeper['companyName']}"></span> </a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/subscription-page}">
                        Subscription
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about-us}">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact-us}">
                        Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sensor-spec}">
                        Info
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn d-none d-lg-block" type="button"  data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            Hive menu
        </button>

    </div>
</nav>
<div class="offcanvas offcanvas-start" style="background-color: #ffb800" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" th:fragment="offcanvas">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="staticBackdropLabel">Hive navigation menu</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container mx-auto my-4">
            <img class="img-fluid max w-50" th:src="@{/assets/logo_icon.png}" alt="Logo" id="logo">
        </div>
        <div>
            <h2><a class="nav-link" style="padding: 10px" th:href="@{/hive-information-redirect-form(hiveId=${hive.getId()})}"> Statistics </a></h2>
<!--            <form action="hive-information-redirect-form" method="get">-->
<!--                <input type="hidden" name="hiveId" th:value="${hive.getId()}">-->
<!--                <h2><button type="submit" class="btn"><h2>Hive Information</h2></button></h2>-->
<!--            </form>-->
            <h2><a class="nav-link" style="padding: 10px" th:href="@{/parameters-redirect-form(hiveId=${hive.getId()})}"> Parameters </a></h2>
<!--            <form action="parameters-redirect-form" method="get">-->
<!--                <input type="hidden" name="hiveId" th:value="${hive.getId()}">-->
<!--                <h2><button type="submit" class="btn"><h2>Parameters</h2></button></h2>-->
<!--            </form>-->
            <h2><a class="nav-link" style="padding: 10px" th:href="@{/show_operations(hiveId=${hive.getId()})}"> Operation </a></h2>
<!--            <form action="redirect-form" method="get">-->
<!--                <input type="hidden" name="hiveId" th:value="${hive.getId()}">-->
<!--                <button type="submit" class="btn btn-primary">Operation</button>-->
<!--            </form>-->
            <h2><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#anomaly"> <h2>Anomalies</h2> </button></h2>
            <h2><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modify_hive"> <h2>Modify Hive</h2> </button></h2>
            <h2><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#remove_hive"> <h2>Remove Hive</h2> </button></h2>
        </div>
    </div>
</div>
<div class="modal fade" id="modify_hive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modify_hiveLabel" aria-hidden="true" th:fragment="modify_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modify_hiveLabel">Modify Hive Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <!--                Form per la modifica dell'arnia-->
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="card-body">
                            <div class="card-body p-4 p-md-5 hive_card">

                                <form th:action="@{/modify-hive}" method="get">
                                    <input type="hidden" name="hiveId" th:value="${hive.getId()}">
                                    <!--                            Nome dell'arnia-->
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <h5 class="form-label" th:for="hiveName">Hive Name:</h5>
                                                <input type="text" th:id="hiveName" name="nickname" th:value="${hive.getNickname()}" class="form-control form-control-lg" style="border-radius: 10px;border: 1px solid black;background-color: #FFF0B3;"/>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                            Tipo dell'arnia-->
                                    <div class="row">
                                        <div class="col-12 mb-1">
                                            <h5 class="form-label select-label">Hive Type:</h5>
                                        </div>
                                    </div>

                                    <!--                            Opzioni del tipo d'arnia-->
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <select class="select form-control-lg hive_selector" name="hiveType" required>
                                                <option disabled selected>Choose option</option>
                                                <option value="Langstroth" th:selected="${hive.getHiveType() == 'Langstroth'}">Langstroth</option>
                                                <option value="Warre" th:selected="${hive.getHiveType() == 'Warre'}">Warre</option>
                                                <option value="Top-Bar" th:selected="${hive.getHiveType() == 'Top-Bar'}">Top-Bar</option>
                                                <option value="Horizontal" th:selected="${hive.getHiveType() == 'Horizontal'}">Horizontal</option>
                                                <option value="Vertical" th:selected="${hive.getHiveType() == 'Vertical'}">Vertical</option>
                                                <option value="Bee Skep" th:selected="${hive.getHiveType() == 'Bee Skep'}">Bee Skep</option>
                                                <option value="WBC" th:selected="${hive.getHiveType() == 'WBC'}">WBC</option>
                                                <option value="Dadant" th:selected="${hive.getHiveType() == 'Dadant'}">Dadant</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--                            Checklist con le specie delle api-->
                                    <div class="row">
                                        <div class="col-md-6 col-sm-8 col-8 mb-4" style="font-weight: bold">
                                            <h5 class="mb-2 pb-1">Bee Species: </h5>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="beeSpecies" th:checked="${hive.getBeeSpecies() == 'Apis millifera'}" th:id="Apismellifera"
                                                       value="Apis millifera" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                                <label class="form-check-label" th:for="Apismellifera">Apis mellifera (Api miele)</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="beeSpecies" th:checked="${hive.getBeeSpecies() == 'Apis cerana'}" th:id="Apiscerana"
                                                       value="Apis cerana" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                                <label class="form-check-label" th:for="Apiscerana">Apis cerana (Api asiatiche)</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="beeSpecies" th:checked="${hive.getBeeSpecies() == 'Apis dorsata'}" th:id="Apisdorsata"
                                                       value="Apis dorsata" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                                <label class="form-check-label" th:for="Apisdorsata">Apis dorsata (Api giganti)</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="beeSpecies" th:checked="${hive.getBeeSpecies() == 'Apis florea'}" th:id="Apisfiorea"
                                                       value="Apis florea" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                                <label class="form-check-label" th:for="Apisfiorea">Apis florea (Api nane)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                            Pulsanti di invio e cancellazione-->
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-end" style="gap:10px;">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input class="btn btn-lg" type="submit" value="Submit" style="border: 1px solid black;background-color: #FFF0B3;"/>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="remove_hive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="remove_hiveLabel" aria-hidden="true" th:fragment="remove_hive">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="remove_hiveLabel">Remove Hive</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-9 d-flex align-items-center">
                            <h4>
                                You are about to end the existence of this hive from your dashboard. <br>
                                Are you sure you want to continue the operation?
                            </h4>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <img class="img-fluid" th:src="@{/assets/sad_bee.png}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer bg-warning">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/delete-hive}" method="get">
                    <input type="hidden" name="hiveId" th:value="${hive.getId()}">
                    <button type="submit" class="btn" style="border: 1px solid black;background-color: #FFF0B3;">Remove</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="anomaly" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="anomalyLabel" aria-hidden="true" th:fragment="anomaly">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent">

            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="anomalyLabel">Anomalies Log</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-background">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <!--                        Anomalies Log-->
                            <ul>
                                <div th:each="anomaly : ${anomalies}">
                                    <div class="row align-items-center">
                                        <div class="col-sm-6 ">
                                            <li th:text="'[' + ${#strings.replace(anomaly.getDetectionDate(),'T',' ')} + '] - ' + ${anomaly.getAnomalyName()}"></li>
                                        </div>
                                        <div class="col-sm-4 w-50 text-end"> <!-- TODO aggiungere bottoni per gestire anomalie -->
                                            <button> <h4>Show Info</h4> </button>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer bg-warning">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
</body>
</html>