<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/common-style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>

    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg"  style="background-color: #FFF0B3; color: black; border-bottom: 2px solid black ;" th:fragment="hive_navbar">
    <div class="container-fluid">
        <button class="btn d-block d-lg-none d-xl-none" type="button"  data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            Hive menu
        </button>
        <a class="navbar-brand" th:href="@{/}"> BeehAIve </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!--                        Add if-->
                    <div th:unless="${session.beekeeper != null}">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}"> Log-in </a>
                    </div>
                    <div th:if="${session.beekeeper != null}">
                        <a th:text="${session.beekeeper['companyName']}" class="nav-link active" aria-current="page" href="#"> <span th:text="${session.beekeeper['companyName']}"></span> </a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/subscription-page}">
                        Subscription
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about-us}">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact-us}">
                        Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sensor-spec}">
                        Info
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn d-none d-lg-block" type="button"  data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            Hive menu
        </button>

    </div>
</nav>

<section class="custom-section">
    <section class="custom-front-section">
        <div class="row py-3 align-items-center text-center d-flex justify-content-center">
            <div class="col-lg-7 order-lg-1 order-2">
                <h1 class="fw-bold custom-first-text">The next generation of Beekeeping</h1>
                <h4 class="custom-second-test"> <span> <a th:href="@{/registration-page}" class="custom-link">Create an account</a>></span> now and monitor up to <span class="fw-bolder text-decoration-underline">300 hives</span></h4>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-7 order-lg-2 order-1">
                <img class="img-fluid max" src="../../static/assets/logo_icon.png" alt="Logo">
            </div>
        </div>
    </section>

    <section>
        <div class="container-xxl">

            <div class="row py-3 align-items-center text-center d-flex justify-content-center">
                <div class="col-lg-7 order-lg-1 order-2 custom-glass">
                    <h1 class="fw-bold custom-text">Who are we</h1>
                    <h4>We are a team of passionate experts dedicated to the active monitoring of bee colonies and the promotion of awareness regarding the importance of these insects in our daily lives. With multidisciplinary skills and a strong conviction in the need to take action, we work tirelessly to ensure a sustainable future for bees and the entire planet.</h4>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-7 order-lg-2 order-1">
                    <img class="img-fluid max" src="../../static/assets/BeeCompany.png" alt="Logo">
                </div>
            </div>

            <div class="row py-3 align-items-center text-center d-flex justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-7 ">
                    <img class="img-fluid max" src="../../static/assets/Statistics.png" alt="Logo">
                </div>
                <div class="col-lg-7 custom-glass">
                    <h1 class="fw-bold custom-text">What we do</h1>
                    <h4>We use advanced monitoring technologies to gather accurate data on the health of bee colonies, enabling timely interventions to prevent undesirable declines.</h4>
                </div>
            </div>

            <div class="row py-3 align-items-center text-center d-flex justify-content-center">
                <div class="col-lg-7 order-lg-1 order-2 custom-glass">
                    <h1 class="fw-bold custom-text">Why we do it</h1>
                    <h4>Our agency is committed to environmental sustainability, promoting eco-friendly practices in monitoring bee colonies. Our vision aims to leave a positive impact, emphasizing a strong connection between the health of bees and that of the planet.</h4>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-7 order-lg-2 order-1">
                    <img class="img-fluid max" src="../../static/assets/EcoCompany.png" alt="Logo">
                </div>
            </div>

        </div>
    </section>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>

