
.ftco-section{
    height: 94vh !important;
    overflow: auto !important;
}
.icon-square{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 3rem !important;
    height: 3rem !important;
    font-size: 1.5rem !important;
    border-radius: 0.75rem !important;
}
span{
    font-size: 30px !important;
}
.custom-container{
    backdrop-filter: blur(5px) !important;
}
