*{
    font-family: Helvetica;
}

body{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    background: url("../assets/pattern.svg") !important;
    background-repeat: repeat !important;
    background-size: 100px 140px !important;
    background-position: center;
}

.nav-item
{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: color 0.5s;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}
.nav-item::after
{
    content: '';
    background: #ffb800;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
.nav-item:hover
{
    color: #4F3B29;
    font-weight: bold;
}
.nav-item:hover::after {
    top: 50%;
    opacity: 1;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#000000, #d3ba13fc , #000000);
    border-radius: 10px;
}
