section{
    overflow: auto !important;
    height: 94vh;}
.custom-border{
    backdrop-filter: blur(5px) !important;
    border: 2px solid black !important;
    border-radius: 30px !important;
}
.custom-text{
    font-size: 20px!important;
}

::-webkit-scrollbar {
    width: 10px;
}