
p{
    height: 20vh !important;
}
.vertical-line {
    border-left: 2px solid #000!important; /* Colore e spessore della linea sinistra */
    border-right: 2px solid #000!important; /* Colore e spessore della linea destra */
    height: 100%!important; /* Altezza del div */
}
/* Regola personalizzata per l'altezza della riga */
.custom-row {
    height: 30vh!important; /* Imposta l'altezza desiderata */
}
/* Regola personalizzata per l'altezza delle card */
.custom-card {
    height: 45vh!important;
    border-width: 3px!important; /* Imposta lo spessore del bordo */
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5)!important; /* Aggiungi sfumatura al bordo */
}
/* Stile opzionale per il contenuto delle colonne */
.custom-price {
    border: 1px solid black!important;
    width: 75%!important;
    align-self: center!important;
}

.col-sm-6{
    backdrop-filter: blur(6px)
}

.custom-section{
    overflow: auto !important;
    height: 94vh;
}