.custom-container{
    height: auto !important;
    border: 2px solid black !important;
    border-radius: 30px !important;
    backdrop-filter: blur(5px) !important;
}

.form-control{
    font-size: 20px !important;
    text-align: center !important;
    font-weight: bold !important;
    padding: 10px 10px!important;
}
