.custom-page{
    height: 60vh;
}
.custom-error{
    height: 20vh;
}
h1{
    font-size: 100px !important;
}


h2{
    font-size: 50px !important;
}
p{
    font-size: 20px;
}
a{
    font-size: 20px;
}
.custom-border{
    width: 90vw !important;
    border: 2px solid black !important;
    border-radius: 30px;
    background: #FFE087;
    overflow-y:hidden !important;

}

@media only screen and (max-width: 976px){
    .custom-page{
        height: 90vh;
    }
}