<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/hive/operations-hive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/hive/hive-template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/hive-template.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/index.global.min.js}" rel="text/javascript"></script>
    <title>Title</title>
</head>
<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<section>
    <div class="container-fluid text-center my-2 custom-page">

        <div class="row mb-3 justify-content-center">
            <div class="custom-calendar col d-flex justify-content-center" id="calendar">
                <!--                    Calendario-->
            </div>
        </div>
    </div>
</section>



<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "get_beekeeper_operation_history",
            data: null,
            success: function(resp) {
                let result = JSON.parse(resp);
                let calendar = new FullCalendar.Calendar($("#calendar")[0], {
                    events: result,
                    initialView: 'dayGridMonth',
                    eventTimeFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                    },
                    height: "auto",
                    eventColor: "#805711",
                    defaultTimedEventDuration: '00:01:00'
                });

                calendar.render();
            }
        })

    })

</script>

</body>
</html>