<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
</head>

<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<section class="custom-section">
    <section class="custom-front-section">
        <div class="row py-3 align-items-center text-center d-flex justify-content-center">
            <div class="col-lg-7 order-lg-1 order-2">
                <h1 class="fw-bold custom-first-text" style="text-shadow: 3px 4px #fffb03;">The next generation of Beekeeping</h1>

                <div th:unless="${session.beekeeper != null}">
                    <h4 class="custom-second-test" style="text-shadow: 3px 4px #fffb03;"><span> <a th:href="@{/registration}" class="custom-link c-link">Create an account</a></span> now and monitor up to <span class="fw-bolder text-decoration-underline">300 hives</span></h4>
                </div>
                <div th:if="${session.beekeeper != null}">
                    <h4 class="custom-second-test fw-bolder" style="text-shadow: 3px 4px #fffb03;" ><span><h2 style="text-shadow: 2px 3px #fffb03;">Thank you for joining in our journey!</h2></span>We're dedicated to making a difference. Join us in our mission to create a brighter future.</h4>
                </div>

            </div>
            <div class="col-lg-5 col-md-10 col-sm-10 order-lg-2 order-1">
                <img class="img-fluid max custom-logo" th:src="@{/assets/logo_icon.png}" alt="Logo">
            </div>
        </div>
    </section>

    <section>
        <div class="container-xxl">

            <div class="row py-3 align-items-center text-center d-flex justify-content-center">
                <div class="col-lg-7 order-lg-1 order-2 custom-glass">
                    <h1 class="fw-bold custom-text">Who are we</h1>
                    <h4>We are a team of passionate experts dedicated to the active monitoring of bee colonies and the promotion of awareness regarding the importance of these insects in our daily lives. With multidisciplinary skills and a strong conviction in the need to take action, we work tirelessly to ensure a sustainable future for bees and the entire planet.</h4>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-7 order-lg-2 order-1">
                    <img class="img-fluid max" th:src="@{/assets/BeeCompany.png}" alt="Logo">
                </div>
            </div>

            <div class="row py-3 align-items-center text-center d-flex justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-7 ">
                    <img class="img-fluid max" th:src="@{/assets/Statistics.png}" alt="Logo">
                </div>
                <div class="col-lg-7 custom-glass">
                    <h1 class="fw-bold custom-text">What we do</h1>
                    <h4>We use <span><a class="c-link" style="text-shadow: 2px 1px #ffe2b8;" th:href="@{/sensor-spec}">advanced monitoring technologies </a></span>  to gather accurate data on the health of bee colonies, enabling timely interventions to prevent undesirable declines.</h4>
                </div>
            </div>

            <div class="row py-3 align-items-center text-center d-flex justify-content-center">
                <div class="col-lg-7 order-lg-1 order-2 custom-glass">
                    <h1 class="fw-bold custom-text">Why we do it</h1>
                    <h4>Our agency is committed to environmental sustainability, promoting eco-friendly practices in monitoring bee colonies. Our vision aims to leave a positive impact, emphasizing a strong connection between the health of bees and that of the planet.</h4>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-7 order-lg-2 order-1">
                    <img class="img-fluid max-auto" th:src="@{/assets/EcoCompany.png}" alt="Logo">
                </div>
            </div>

        </div>
    </section>
</section>

    <script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
</body>
</html>