<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

    <div th:replace="~{fragments/header :: navbar}"></div>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>

            <div class="input_box">
                <input type="text" th:id="user" class="input-field" th:placeholder="Username" required>
                <label th:for="user" class="label">Username</label>
                <i class="bx bx-user icon"></i>
            </div>

            <div class="input_box">
                <input type="password" th:id="pass" class="input-field" th:placeholder="Password" required>
                <label th:for="pass" class="label">Password</label>
                <i class="bx bx-lock-alt icon"></i>
            </div>

            <div class="remember-forgot">
                <div class="remember-me">
                    <input type="checkbox" th:id="remember">
                    <label th:for="remember">Remember me</label>
                </div>

                <div class="forgot">
                    <a href="#">Forgot password?</a>
                </div>
            </div>

            <div class="input_box">
                <input type="submit" class="input-submit" value="Login">
            </div>

            <div class="register">
                <span>Don't have an account? <a href="#">Register</a></span>
            </div>
        </div>
    </div>


    <script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
</body>
</html>
