<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

    <div th:replace="~{fragments/header :: navbar}"></div>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Register</span>
            </div>
            <form th:action="@{/registration-form}" method="post">
                <div class="input_box">
                    <input type="email" th:id="email" class="input-field" placeholder="Email" name="email" required>
                    <label th:for="email" class="label">Email</label>
                </div>
                <div class="input_box">
                    <input type="text" th:id="firstName" class="input-field" placeholder="First Name" name="firstName" required>
                    <label th:for="firstName" class="label">First Name</label>
                </div>
                <div class="input_box">
                    <input type="text" th:id="lastName" class="input-field" placeholder="Last Name" name="lastName" required>
                    <label th:for="lastName" class="label">Last Name</label>
                </div>
                <div class="input_box">
                    <input type="text" th:id="companyName" class="input-field" name="companyName" placeholder="Company Name">
                    <label th:for="companyName" class="label">Company Name</label>
                </div>
                <div class="input_box">
                    <input type="text" th:id="companyPiva" class="input-field" name="companyPiva" placeholder="Company PIVA">
                    <label th:for="companyPiva" class="label">Company PIVA</label>
                </div>
                <div class="input_box">
                    <input type="password" th:id="passwordhash" class="input-field" name="password" placeholder="Password" required>
                    <label th:for="passwordHash" class="label">Password</label>
                </div>
                <div class="input_box">
                    <input type="password" th:id="confirmPassword" class="input-field" name="confirmPassword" placeholder="Confirm Password" required>
                    <label th:for="confirmPassword" class="label">Confirm Password</label>
                </div>

                <div class="input_box">
                    <p th:text="${error}"></p>
                </div>


                <div class="remember-forgot">
                    <div class="remember-me">
                        <input type="checkbox" th:id="remember">
                        <label th:for="remember">Remember me</label>
                    </div>

                </div>

                <div class="input_box">
                    <input type="submit" class="input-submit" value="Register">
                </div>

            </form>

        </form>

            <div class="register">
                <span>Already have an account? <a th:href="@{/login}">Login</a></span>
            </div>
        </div>
    </div>

<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
</body>
</html>