<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/sensor-spec.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

<div th:insert="~{fragments/header :: navbar}"></div>

<section>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-10 text-center mb-3 custom-border">

                <h1 class="my-3 fw-bold">BeehAIve Monitoring Sensor</h1>
                <p class="mb-4 pb-3 fw-bold border-bottom border-black border-2 custom-text">Welcome to the forefront of beehive monitoring, where our advanced sensors, powered by solar energy, work tirelessly around the clock to provide you with crucial insights into hive health and activity. Designed to be both efficient and eco-friendly, our monitoring solutions are dedicated to supporting beekeepers in ensuring the well-being of their colonies.</p>

                <h1 class="my-3 fw-bold">Solar-Powered Efficiency</h1>
                <p class="mb-4 pb-3 fw-bold border-bottom border-black border-2 custom-text">Harnessing the energy of the sun, our sensors operate entirely on solar power. This sustainable approach not only ensures uninterrupted monitoring but also reduces the environmental impact, aligning with our commitment to eco-conscious solutions.</p>

                <h1 class="my-3 fw-bold">Real-time Data Acquisition</h1>
                <p class="mb-4 pb-3 fw-bold border-bottom border-black border-2 custom-text">Experience the power of real-time data with our advanced monitoring sensors. Instantaneous data acquisition enables quick decision-making and ensures that you stay ahead of dynamic situations. Monitor changes as they happen and respond proactively to optimize outcomes.</p>

                <h1 class="my-3 fw-bold"> Hive-Specific Metrics</h1>
                <p class="mb-4 fw-bold custom-text">Our sensors are tailored to monitor hive-specific parameters critical for bee health. From temperature and humidity levels to hive weight and activity, our devices offer a comprehensive suite of metrics to keep you well-informed about the condition of your colonies.</p>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
</body>
</html>