<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="pay">
    <input type="hidden" name="beekeeperEmail" value="n.gallotta@gmail.com">
    <button type="submit" name="subscriptionType" value="small">Abbonamento Small</button>
    <button type="submit" name="subscriptionType" value="medium">Abbonamento Medium</button>
    <button type="submit" name="subscriptionType" value="large">Abbonamento Large</button>
</form>
</body>
</html>