<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/subscription-page.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/common-style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/Boostrap/css/bootstrap.css}" rel="stylesheet" type="text/css">

    <title>Title</title>
</head>
<body>

    <div th:insert="~{fragments/header :: navbar}"></div>

<section class="custom-section">
    <div class="container-lg text-center my-5">
        <div class="row justify-content-between custom-row">
            <div class="col col-1 ">  </div>
            <div class="col col-sm-6 vertical-line" style="font-size: 2rem;">
                Test
            </div>
            <div class="col col-1 ">  </div>
        </div>
    </div>

    <form action="pay" method="get">
        <div class="container-fluid text-center my-5 ">
            <div class="row justify-content-around custom-row my-5">

                <!--        Prima carta per la scelta dell'abbonamento-->
                <div class="col-lg-4 col-md-4">
                    <div class="card border-warning custom-card" style="background-color: #FFF0B3;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-header" style="background-color: #FEB800;">Small</h5>
                            <hr> <!-- Linea orizzontale -->
                            <p class="card-text">For independent beekeepers and hobbyists.</p>
                            <h3 class="card-text custom-price w-80">50€/Month</h3>
                            <hr> <!-- Linea orizzontale -->
                            <button type="submit" name="subscriptionType" value="small" class="btn btn-warning mt-auto">Get Started</button>
                        </div>
                    </div>
                </div>

                <!--        Seconda carta per la scelta dell'abbonamento-->
                <div class="col-lg-4 col-md-4">
                    <div class="card border-warning custom-card" style="background-color: #FFF0B3;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-header" style="background-color: #FEB800;">Medium</h5>
                            <hr> <!-- Linea orizzontale -->
                            <p class="card-text">For medium-sized companies with many beekeepers.</p>
                            <h3 class="card-text custom-price w-80">350€/Month</h3>
                            <hr> <!-- Linea orizzontale -->
                            <button type="submit" name="subscriptionType" value="medium" class="btn btn-warning mt-auto">Get Started</button>
                        </div>
                    </div>
                </div>

                <!--        Terza carta per la scelta dell'abbonamento-->
                <div class="col-lg-4 col-md-4">
                    <div class="card border-warning custom-card" style="background-color: #FFF0B3;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-header" style="background-color: #FEB800;">Large</h5>
                            <hr> <!-- Linea orizzontale -->
                            <p class="card-text">For large company with small dick</p>
                            <h3 class="card-text custom-price w-80">1050€/Month</h3>
                            <hr> <!-- Linea orizzontale -->
                            <button type="submit" name="subscriptionType" value="large" class="btn btn-warning mt-auto">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

    <script th:src="@{/Boostrap/js/bootstrap.bundle.js}"></script>
    </body>
</html>